.legend {
    display: flex;
    height: 35%;
}

.title {
    color: #B8B8CF;
    font-family: "Inter", sans-serif;
    text-align: left;
    font-size: 90%;
    margin: 10px;
}

.elements {
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    font-family: Inter, serif;
    margin-top: 45px;
    text-shadow:
            0 0 5px rgba(6,93,131,1),
            0 0 10px rgba(6,93,131,1),
            0 0 20px rgba(6,93,131,1),
            0 0 40px rgba(7, 44, 60,1),
            0 0 80px rgba(7, 44, 60,1),
            0 0 90px rgba(7, 44, 60,1),
            0 0 100px rgba(7, 44, 60,1),
            0 0 140px rgba(7, 44, 60,1),
            0 0 180px rgba(7, 44, 60,1);
}